<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1920, maximum-scale=1.0" />
    <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='addrecord.css') }}">
    <link rel="stylesheet" type="text/css" href="static/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="static/css/globals.css" />
</head>
<body style="margin: 0; background: #FFF8F6; background-image: url('static/img/bg1.png');">
        <header>
            <p class="header">PSYCHOTHERAPY PORTAL</p>
            <a href="{{url_for('dashboard')}}" class="dashlink">DASHBOARD</a>
            <a href="{{url_for('userrecords')}}" class="reclink">PATIENT RECORDS</a>
            <a href="{{url_for('videoDB')}}" class="vdblink">VIDEO DATABASE</a>
            <a href="{{url_for('account')}}" class="acctlink">Your Account</a>
        </header>
        <div class ="titlebox">
            <h1 class="title">Add Patient Record</h1>
            <a href="{{url_for('userrecords')}}" class="cancel">Cancel</a>
        </div>
        <div class = "formbox">
            <form method ="POST" action="">
                {{form.hidden_tag()}}
                
                <fieldset>
                    <small class="fullnamelabel">Full Name</small>
                    <div>
                        {{ form.firstname.label (class="firstname") }}
                        {{form.firstname (class="firstnameinput")}}
                    </div>
                    <div>
                        {{ form.lastname.label (class="lastname")}}
                        {{form.lastname (class="lastnameinput")}}
                    </div>
                    <div>
                        {{form.gender.label (class="gender")}}
                        {{form.gender (class="genderinput")}}
                    </div>
                    <div>
                        {{ form.age.label (class="age")}}
                        {{form.age (class="ageinput")}}
                    </div>
                    
                    <div>
                        {{ form.country.label (class="country")}}
                        {{form.country (class="countryinput")}}
                    </div>
                    <div>
                        {{ form.guardiantitle.label (class="gtitle")}}
                        {{form.guardiantitle (class="gtitleinput")}}
                    </div>
                    <small class="gnamelabel">Guardian's Name</small>
                    <div>
                        {{ form.guardianfirstname.label (class="gfirstname")}}
                        {{form.guardianfirstname (class="gfirstnameinput")}}
                    </div>
                    <div>
                        {{ form.guardianlastname.label (class="glastname")}}
                        {{form.guardianlastname (class="glastnameinput")}}
                    </div>
                    <div>
                        {{ form.relationship.label (class="relationship")}}
                        {{form.relationship (class="relationshipinput")}}
                    </div>
                    <div>
                        {{ form.email.label (class="email")}}
                        {{form.email (class="emailinput")}}
                    </div>

                    
                </fieldset>
                <div>
                    {{form.submit (class="button")}}
                </div>
            </form>
        </div>
        {% for mesg in get_flashed_messages() %}
        <h1 class ="error">{{ mesg }}</h1>
        {% endfor %}

        <div class="footer"></div>
</body>
</html>