<!DOCTYPE html>
<html>
    <div>
        <form method ="POST" action="">
            {{form.hidden_tag()}}
            <fieldset>
                <div>
                    {{form.password.label}}
                    {{form.password}}
                </div>
                <div>
                    {{form.confirmpassword.label}}
                    {{form.confirmpassword}}
                </div>
            </fieldset>
            <div>
                {{form.submit}}
            </div>
</html>