<!DOCTYPE html> 
<html>
<link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='loginpage.css') }}">
<head>
    <h1>PSYCHOTHERAPY PORTAL</h1>
</head>
<div>
    <form method ="POST" action="">
        {{form.hidden_tag()}}
        <fieldset>
            <div>
                {{ form.email.label }}
                {{form.email}}
            </div>
            <div>
                {{ form.password.label }}
                {{form.password}}
            </div>
        </fieldset>
        <div>
            {{form.submit}}
        </div>
    </form>
    <div>
        <small>
            <a href="{{ url_for('registerpage') }}">Register </href>
        </small>
    </div>
</div>

</html>

