<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1920, maximum-scale=1.0" />
    <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='uploads.css') }}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styleguide.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/globals.css')}}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"></head>
</head>
<body style="margin: 0; background: #FFF8F6; background-image: url_for('static', filename='img/bg1.png');">
    <header>
        <p class="header">PSYCHOTHERAPY PORTAL</p>
        <a href="{{url_for('dashboard')}}" class="dashlink">DASHBOARD</a>
        <a href="{{url_for('userrecords')}}" class="reclink">PATIENT RECORDS</a>
        <a href="{{url_for('videoDB')}}" class="vdblink">VIDEO DATABASE</a>
        <a href="{{url_for('account')}}" class="acctlink">Your Account</a>
    </header>
    
    <div class="container mt-5">
        <div class="row">
            <div class="alert alert-success d-none" id="successAlert" role="alert">
                    <span id="successMsg"></span> Click <a href="/videoDb" class="alert-link">here to go to the Video Database</a>
            </div>
            <div class="alert alert-danger d-none" id="dangerAlert" role="alert">
                Please try to upload your video again!
            </div>
            <div class="col d-flex justify-content-center">
                <div class="card  w-50">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h2>Upload Video</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="d-flex justify-content-center d-none" id="spinner"> 
                                    <div class="spinner-border" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                                
                                <form id="uploadForm" class="form">
                                    <div class="row mt-3">
                                        <label for="exampleFormControlInput1">Patient ID</label>
                                        <input type="number" name="patientid" class="form-control" id="inputID" placeholder="The ID of the patient in this video" required/>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col">
                                            <input id="videoInput" type="file" name="videoFile" class="form-control" accept="video/*" required/>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col  d-flex justify-content-center">
                                            <button type="submit" class="button ">Upload</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                
    {% if video is defined %}
        <video controls>
            <source src="/static/uploads/{{video}}"></source>
        </video>
    {% endif %}

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script>
        // collect all the elements     
        let spinner = document.getElementById("spinner");
        let form = document.getElementById("uploadForm");
        let successAlert = document.getElementById("successAlert");
        let dangerAlert = document.getElementById("dangerAlert");
        
        
        const submitVideo = (event) => {
            // prevents user to refresh page         
            event.preventDefault();
            spinner.classList.toggle('d-none');
            form.classList.toggle('d-none');
            
            let formData = new FormData(form);
            
            fetch("/upload", {
                method: "POST",
                body: formData
            }).then((response) => {
                // Over here it is a Readable Stream 
                // The response is a Response instance.
                // You parse the data into a useable format using `.json()`
                return response.json();
            })
            .then((response) => {
                // response here is a JS object
                spinner.classList.toggle('d-none');
                form.classList.toggle('d-none');
                form.reset();

                let successMsgEl = document.getElementById("successMsg");
                successMsgEl.textContent = response.message;

                if (successAlert.classList.contains('d-none')) {
                    successAlert.classList.toggle('d-none');
                }

                
                if (!dangerAlert.classList.contains('d-none')) {
                    dangerAlert.classList.toggle('d-none');
                }

            }).catch((error) => {

                spinner.classList.toggle('d-none');
                form.classList.toggle('d-none');
                
                if (!successAlert.classList.contains('d-none')) {
                    successAlert.classList.toggle('d-none');
                }

                if (dangerAlert.classList.contains('d-none')) {
                    dangerAlert.classList.toggle('d-none');
                }
                console.log(error)
            })
        }

        form.addEventListener('submit', submitVideo)
    </script>
    <div class="footer"></div>
</body>
</html>