header {
    position: fixed;
    width: 1920px;
    height: 40px;
    left: 0px;
    top: 0px;

    background: #ffffff;
}

header .header {
    position: fixed;
    width: 422.33px;
    height: 34.99px;
    left: 51.03px;
    top: 6.75px;

    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 17.4958px;
    line-height: 43px;
    /* or 244% */

    
    align-items: center;
    letter-spacing: 0.01em;

    color: rgba(0, 0, 0, 0.6);
}

header .dashlink {
    position: fixed;
    width: 422.33px;
    height: 34.99px;
    left: 272px;
    top: 6.75px;

    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 17.4958px;
    line-height: 43px;
    /* or 244% */

    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;

    color: rgba(0, 0, 0, 0.6);

    text-decoration-line: none !important;


}

header .reclink {
    position: fixed;
    width: 422.33px;
    height: 34.99px;
    left: 499px;
    top: 6.75px;

    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 17.4958px;
    line-height: 43px;
    /* or 244% */

    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;

    color: rgba(0, 0, 0, 0.6);

    text-decoration-line: none !important
}

header .vdblink {
    position: fixed;
    width: 422.33px;
    height: 34.99px;
    left: 720px;
    top: 6.75px;

    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 17.4958px;
    line-height: 43px;
    /* or 244% */

    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;

    color: rgba(0, 0, 0, 0.6);

    text-decoration-line: none !important
}

header .acctlink {
    position: fixed;
    width: 422.33px;
    height: 34.99px;
    left: 1606px;
    top: 6.75px;

    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 17.4958px;
    line-height: 43px;
    /* or 244% */

    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;

    color: rgba(0, 0, 0, 0.6);

    text-decoration-line: none !important
}

.titlebox {
    position: fixed;
    width: 1717px;
    height: 93px;
    left: 100px;
    top: 68px;

    background: #FFFFFF;
    opacity: 0.8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9.65238px;
}

.title {
    position: fixed;
    width: 1423.32px;
    height: 51.52px;
    left: 203.94px;
    top: 96px;

    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 69.9831px;
    line-height: 43px;
    /* or 61% */

    letter-spacing: 0.01em;

    /* Grey Black */

    color: rgba(0, 0, 0, 0.73);

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1)
}

.update {
    position: fixed;
    width: 596px;
    height: 40px;
    left: 1440px;
    top: 95px;

    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */

    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
}

.delete {
    position: fixed;
    width: 596px;
    height: 40px;
    left: 1640px;
    top: 95px;

    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */

    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
}

.infobox {
    position: fixed;
    width: 1716px;
    height: 350px;
    left: 101px;
    top: 173px;

    background: #FFFFFF;
    opacity: 0.9;
    border-radius: 9.65238px;
}

.fullnamelabel {
    position: fixed;
    width: 192px;
    height: 47.41px;
    left: 182px;
    top: 195px;

    font-family: Josefin Sans;
    font-style: bold;
    font-weight: normal;
    font-size: 20px;
    line-height: 43px;
    /* or 214% */

    
    align-items: center;

    color: #000000;
}

.pfname {

    align-items: center;
    padding: 0px;

    position: fixed;
    width: 87px;
    height: 20px;
    left: 443px;
    top: 195px;

    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 43px;

    /* Text / Black */

    color: #121212;

}

.plname {

    align-items: center;
    padding: 0px;

    position: fixed;
    width: 87px;
    height: 20px;
    left: 643px;
    top: 195px;

    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 43px;

    /* Text / Black */

    color: #121212;
}

.genderlabel {
    position: fixed;
    width: 192px;
    height: 47.41px;
    left: 182px;
    top: 282px;

    font-family: Josefin Sans;
    font-style: bold;
    font-weight: normal;
    font-size: 20px;
    line-height: 43px;
    /* or 214% */

    display: flex;
    align-items: center;

    color: #000000;
}

.pgender {
    position: fixed;
    width: 192px;
    height: 47.41px;
    left: 443px;
    top: 282px;

    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 43px;
    /* or 214% */

    display: flex;
    align-items: center;

    color: #000000;
}

.countrylabel {
    position: fixed;
    width: 192px;
    height: 47.41px;
    left: 182px;
    top: 365px;

    font-family: Josefin Sans;
    font-style: bold;
    font-weight: normal;
    font-size: 20px;
    line-height: 43px;
    /* or 214% */

    display: flex;
    align-items: center;

    color: #000000;
}

.pcountry {
    position: fixed;
    width: 192px;
    height: 47.41px;
    left: 443px;
    top: 365px;

    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 43px;
    /* or 214% */

    display: flex;
    align-items: center;

    color: #000000;
}

.agelabel {
    position: fixed;
    width: 192px;
    height: 47.41px;
    left: 182px;
    top: 443px;

    font-family: Josefin Sans;
    font-style: bold;
    font-weight: normal;
    font-size: 20px;
    line-height: 43px;
    /* or 214% */

    display: flex;
    align-items: center;

    color: #000000;
}

.page {
    position: fixed;
    width: 192px;
    height: 47.41px;
    left: 443px;
    top: 443px;

    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 43px;
    /* or 214% */

    display: flex;
    align-items: center;

    color: #000000;
}

.titlelabel {
    position: fixed;
    width: 192px;
    height: 47.41px;
    left: 900px;
    top: 195px;

    font-family: Josefin Sans;
    font-style: bold;
    font-weight: normal;
    font-size: 20px;
    line-height: 43px;
    /* or 214% */

    display: flex;
    align-items: center;

    color: #000000;
}

.pgtitle {
    position: fixed;
    width: 192px;
    height: 47.41px;
    left: 1161px;
    top: 195px;

    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 43px;
    /* or 214% */

    display: flex;
    align-items: center;

    color: #000000;
}

.gnamelabel {
    position: fixed;
    width: 192px;
    height: 47.41px;
    left: 900px;
    top: 282px;

    font-family: Josefin Sans;
    font-style: bold;
    font-weight: normal;
    font-size: 20px;
    line-height: 43px;
    /* or 214% */

    display: flex;
    align-items: center;

    color: #000000;
}

.pgfname {
    position: fixed;
    width: 192px;
    height: 47.41px;
    left: 1161px;
    top: 282px;

    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 43px;
    /* or 214% */

    display: flex;
    align-items: center;

    color: #000000;
}

.pglname {
    position: fixed;
    width: 192px;
    height: 47.41px;
    left: 1361px;
    top: 282px;

    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 43px;
    /* or 214% */

    display: flex;
    align-items: center;

    color: #000000;
}

.rellabel {
    position: fixed;
    width: 192px;
    height: 47.41px;
    left: 900px;
    top: 365px;

    font-family: Josefin Sans;
    font-style: bold;
    font-weight: normal;
    font-size: 20px;
    line-height: 43px;
    /* or 214% */

    display: flex;
    align-items: center;

    color: #000000;
}

.prel {
    position: fixed;
    width: 192px;
    height: 47.41px;
    left: 1161px;
    top: 365px;

    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 43px;
    /* or 214% */

    display: flex;
    align-items: center;

    color: #000000;
}

.emaillabel {
    position: fixed;
    width: 192px;
    height: 47.41px;
    left: 900px;
    top: 443px;

    font-family: Josefin Sans;
    font-style: bold;
    font-weight: normal;
    font-size: 20px;
    line-height: 43px;
    /* or 214% */

    display: flex;
    align-items: center;

    color: #000000;
}

.pemail {
    position: fixed;
    width: 192px;
    height: 47.41px;
    left: 1161px;
    top: 443px;

    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 43px;
    /* or 214% */

    display: flex;
    align-items: center;

    color: #000000;
}

.vtable {
    left: 101px;
    top: 550px;
    position: fixed;

    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 43px;
}

.footer {
    position: absolute;
    width: 1920px;
    height: 30px;
    left: 0px;
    top: 939px;

    /* Light Sand */

    background: #EEE4E1;
}
