header {
    position: fixed;
    width: 1920px;
    height: 40px;
    left: 0px;
    top: 0px;

    background: #ffffff;
}

header .header {
    position: fixed;
    width: 422.33px;
    height: 34.99px;
    left: 51.03px;
    top: 6.75px;

    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 17.4958px;
    line-height: 43px;
    /* or 244% */

    
    align-items: center;
    letter-spacing: 0.01em;

    color: rgba(0, 0, 0, 0.6);
}


.title {
    position: fixed;
    width: 685px;
    height: 90px;
    left: 617px;
    top: 90px;

    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 89px;
    line-height: 88px;

    text-align: justify;
    letter-spacing: 0.01em;

    color: rgba(0, 0, 0, 0.73);

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.formbox {
    position: absolute;
    width: 670px;
    height: 440px;
    left: 655px;
    top: 274px;

    background: #FFF8F7;
    border-radius: 20px;
}

.bodytext {
    position: fixed;
    width: 429px;
    height: 86px;
    left: 780px;
    top: 305px;

    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 43px;
    /* or 178% */

    text-align: justify;
    letter-spacing: 0.01em;

    /* Grey Black */

    color: rgba(0, 0, 0, 0.73);

}

.email {
    padding: 0px;

    position: fixed;
    width: 37px;
    height: 20px;
    left: 780px;
    top: 417px;

    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

   
}

.emailinput {


/* Auto Layout */

    padding: 0px 16px;

    position: fixed;
    width: 408px;
    height: 56px;
    left: 780px;
    top: 432px;

    /* Neutral / White */

    background: #FFFFFF;
    /* Neutral / Neutral 5 */

    border: 1px solid #AEAEAE;
    box-sizing: border-box;

}

.button {
    display: block;
    
    padding: 1px 16px;

    position: fixed;
    width: 165px;
    height: 66px;
    left: 889px;
    top: 560px;

    /* Sand */

    background: linear-gradient(0deg, #E6BEAE, #E6BEAE), linear-gradient(0deg, #698996, #698996), #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.42);
    border-radius: 20px;

    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    

    text-align: center;

    color: #FFFFFF;
}

.login {
    position: fixed;
    width: 453px;
    height: 40px;
    left: 780px;
    top: 635px;

    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */

    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;

}

.footer {
    position: absolute;
    width: 1920px;
    height: 30px;
    left: 0px;
    top: 937px;

    /* Light Sand */

    background: #EEE4E1;
}

.error {
    font-family: Josefin Sans;
    color: #310e0e;
    text-align: center;
    text-decoration: bold;

    font-size: 20px;
}