header {
    position: fixed;
    width: 1920px;
    height: 40px;
    left: 0px;
    top: 0px;

    background: #ffffff;
}

header .header {
    position: fixed;
    width: 422.33px;
    height: 34.99px;
    left: 51.03px;
    top: 6.75px;

    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 17.4958px;
    line-height: 43px;
    /* or 244% */

    
    align-items: center;
    letter-spacing: 0.01em;

    color: rgba(0, 0, 0, 0.6);
}

header .dashlink {
    position: fixed;
    width: 422.33px;
    height: 34.99px;
    left: 272px;
    top: 6.75px;

    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 17.4958px;
    line-height: 43px;
    /* or 244% */

    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;

    color: rgba(0, 0, 0, 0.6);

    text-decoration-line: none !important;


}

header .reclink {
    position: fixed;
    width: 422.33px;
    height: 34.99px;
    left: 499px;
    top: 6.75px;

    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 17.4958px;
    line-height: 43px;
    /* or 244% */

    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;

    color: rgba(0, 0, 0, 0.6);

    text-decoration-line: none !important
}

header .vdblink {
    position: fixed;
    width: 422.33px;
    height: 34.99px;
    left: 720px;
    top: 6.75px;

    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 17.4958px;
    line-height: 43px;
    /* or 244% */

    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;

    color: rgba(0, 0, 0, 0.6);

    text-decoration-line: none !important
}

header .acctlink {
    position: fixed;
    width: 422.33px;
    height: 34.99px;
    left: 1606px;
    top: 6.75px;

    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 17.4958px;
    line-height: 43px;
    /* or 244% */

    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;

    color: rgba(0, 0, 0, 0.6);

    text-decoration-line: none !important
}

.idbox {
    align-items: center;
    top: 100;
    background-color: white;
}

.idprompt {
    align-items: center;
    top: 100;
    font-family: Josefin Sans;
}

.idlabel {
    position: fixed;
    width: 192px;
    height: 47.41px;
    left: 500px;
    top: 110px;

    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 43px;
    /* or 214% */

    display: flex;
    align-items: center;

    color: #000000;
}

.id {
        
    padding: 0px 16px;

    position: fixed;
    width: 410px;
    height: 56px;
    left: 510px;
    top: 110px;

    /* Neutral / White */

    background: #FFFFFF;
    /* Neutral / Neutral 5 */

    border: 1px solid #AEAEAE;
    box-sizing: border-box;
}

.footer {
    position: absolute;
    width: 1920px;
    height: 30px;
    left: 0px;
    top: 939px;

    /* Light Sand */

    background: #EEE4E1;
}
